USE [master]
GO
/****** Object:  Database [WRSETA_HACKATHON]    Script Date: 2025/12/11 21:34:15 ******/
CREATE DATABASE [WRSETA_HACKATHON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WRSETA_HACKATHON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WRSETA_HACKATHON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WRSETA_HACKATHON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WRSETA_HACKATHON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WRSETA_HACKATHON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WRSETA_HACKATHON]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[ApiKeyID] [int] IDENTITY(1,1) NOT NULL,
	[ApiKeyHash] [varchar](64) NOT NULL,
	[KeyName] [nvarchar](100) NOT NULL,
	[SETAID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[RateLimit] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ExpiresDate] [datetime] NULL,
	[LastUsedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApiKeyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApiKeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiRequestLog]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiRequestLog](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[ApiKeyID] [int] NOT NULL,
	[Endpoint] [varchar](200) NULL,
	[Method] [varchar](10) NULL,
	[RequestBody] [nvarchar](max) NULL,
	[ResponseStatus] [int] NULL,
	[ResponseTime] [int] NULL,
	[IPAddress] [varchar](45) NULL,
	[RequestedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiUsers]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [varchar](64) NOT NULL,
	[SETAID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditTrail]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTrail](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[SETAID] [int] NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[TableAffected] [varchar](50) NULL,
	[RecordID] [int] NULL,
	[IDNumber] [varchar](13) NULL,
	[Details] [nvarchar](max) NULL,
	[UserID] [nvarchar](100) NULL,
	[IPAddress] [varchar](45) NULL,
	[ActionDate] [datetime] NULL,
	[Success] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuplicateAttempts]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuplicateAttempts](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[IDNumber] [varchar](13) NOT NULL,
	[AttemptedName] [nvarchar](200) NULL,
	[AttemptingSETAID] [int] NOT NULL,
	[ExistingSETAID] [int] NOT NULL,
	[ExistingLearnerID] [int] NULL,
	[AttemptDate] [datetime] NULL,
	[Blocked] [bit] NULL,
	[ResolutionStatus] [varchar](20) NULL,
	[ResolvedBy] [nvarchar](100) NULL,
	[ResolvedDate] [datetime] NULL,
	[ResolutionNotes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnerEnrollmentIndex]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnerEnrollmentIndex](
	[IDNumberHash] [varbinary](32) NOT NULL,
	[LearnershipCode] [varchar](20) NOT NULL,
	[RegisteredSETAID] [int] NOT NULL,
	[EnrollmentYear] [int] NOT NULL,
	[ProvinceCode] [varchar](3) NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LearnerEnrollment] PRIMARY KEY CLUSTERED 
(
	[IDNumberHash] ASC,
	[LearnershipCode] ASC,
	[RegisteredSETAID] ASC,
	[EnrollmentYear] ASC,
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnerIDIndex]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnerIDIndex](
	[IDNumberHash] [varbinary](32) NOT NULL,
	[RegisteredSETAID] [int] NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNumberHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnerRegistry]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnerRegistry](
	[LearnerID] [int] IDENTITY(1,1) NOT NULL,
	[IDNumber] [varchar](13) NOT NULL,
	[IDNumberHash] [varchar](64) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[Surname] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](10) NULL,
	[RegisteredSETAID] [int] NOT NULL,
	[ProgrammeName] [nvarchar](200) NULL,
	[RegistrationDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[LearnershipCode] [varchar](20) NULL,
	[ProvinceCode] [varchar](3) NULL,
	[EnrollmentID] [varchar](20) NULL,
	[LearnershipName] [nvarchar](200) NULL,
	[EnrollmentYear] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IDNumberHashNew] [varbinary](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[LearnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceCode] [varchar](3) NOT NULL,
	[ProvinceName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[SETAID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Username] [nvarchar](100) NOT NULL,
	[RefreshToken] [varchar](100) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsRevoked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RefreshToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETAs]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETAs](
	[SETAID] [int] IDENTITY(1,1) NOT NULL,
	[SETACode] [varchar](10) NOT NULL,
	[SETAName] [nvarchar](200) NOT NULL,
	[Sector] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SETAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SETACode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [varchar](64) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[Surname] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[SETAID] [int] NOT NULL,
	[Role] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationLog]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationLog](
	[VerificationID] [int] IDENTITY(1,1) NOT NULL,
	[RequestingSETAID] [int] NOT NULL,
	[IDNumber] [varchar](13) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[Surname] [nvarchar](100) NULL,
	[Status] [varchar](10) NOT NULL,
	[StatusReason] [nvarchar](500) NULL,
	[FormatValid] [bit] NULL,
	[LuhnValid] [bit] NULL,
	[DHAVerified] [bit] NULL,
	[DuplicateFound] [bit] NULL,
	[ConflictingSETAID] [int] NULL,
	[VerifiedAt] [datetime] NULL,
	[VerifiedBy] [nvarchar](100) NULL,
	[Message] [nvarchar](500) NULL,
	[IDNumberHash] [varbinary](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApiKeys_Hash]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_ApiKeys_Hash] ON [dbo].[ApiKeys]
(
	[ApiKeyHash] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApiRequestLog_KeyDate]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_ApiRequestLog_KeyDate] ON [dbo].[ApiRequestLog]
(
	[ApiKeyID] ASC,
	[RequestedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditTrail_Date]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_AuditTrail_Date] ON [dbo].[AuditTrail]
(
	[ActionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DuplicateAttempts_IDNumber]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateAttempts_IDNumber] ON [dbo].[DuplicateAttempts]
(
	[IDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LearnerEnrollment_Lookup]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_LearnerEnrollment_Lookup] ON [dbo].[LearnerEnrollmentIndex]
(
	[IDNumberHash] ASC,
	[LearnershipCode] ASC,
	[EnrollmentYear] ASC
)
INCLUDE([RegisteredSETAID],[ProvinceCode],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearnerEnrollment_SETA_Year]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_LearnerEnrollment_SETA_Year] ON [dbo].[LearnerEnrollmentIndex]
(
	[RegisteredSETAID] ASC,
	[EnrollmentYear] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LearnerRegistry_Hash]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_LearnerRegistry_Hash] ON [dbo].[LearnerRegistry]
(
	[IDNumberHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LearnerRegistry_IDNumber]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_LearnerRegistry_IDNumber] ON [dbo].[LearnerRegistry]
(
	[IDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_Token]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [dbo].[RefreshTokens]
(
	[RefreshToken] ASC
)
WHERE ([IsRevoked]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VerificationLog_IDHash]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLog_IDHash] ON [dbo].[VerificationLog]
(
	[IDNumberHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VerificationLog_IDNumber]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLog_IDNumber] ON [dbo].[VerificationLog]
(
	[IDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VerificationLog_SETA]    Script Date: 2025/12/11 21:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLog_SETA] ON [dbo].[VerificationLog]
(
	[RequestingSETAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  DEFAULT ((1000)) FOR [RateLimit]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ApiRequestLog] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[ApiUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApiUsers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AuditTrail] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[AuditTrail] ADD  DEFAULT ((1)) FOR [Success]
GO
ALTER TABLE [dbo].[DuplicateAttempts] ADD  DEFAULT (getdate()) FOR [AttemptDate]
GO
ALTER TABLE [dbo].[DuplicateAttempts] ADD  DEFAULT ((1)) FOR [Blocked]
GO
ALTER TABLE [dbo].[DuplicateAttempts] ADD  DEFAULT ('Pending') FOR [ResolutionStatus]
GO
ALTER TABLE [dbo].[LearnerEnrollmentIndex] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[LearnerEnrollmentIndex] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LearnerIDIndex] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[LearnerIDIndex] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LearnerRegistry] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[LearnerRegistry] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[LearnerRegistry] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[SETAs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SETAs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Clerk') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VerificationLog] ADD  DEFAULT ((0)) FOR [FormatValid]
GO
ALTER TABLE [dbo].[VerificationLog] ADD  DEFAULT ((0)) FOR [LuhnValid]
GO
ALTER TABLE [dbo].[VerificationLog] ADD  DEFAULT ((0)) FOR [DHAVerified]
GO
ALTER TABLE [dbo].[VerificationLog] ADD  DEFAULT ((0)) FOR [DuplicateFound]
GO
ALTER TABLE [dbo].[VerificationLog] ADD  DEFAULT (getdate()) FOR [VerifiedAt]
GO
ALTER TABLE [dbo].[ApiKeys]  WITH CHECK ADD  CONSTRAINT [FK_ApiKey_SETA] FOREIGN KEY([SETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[ApiKeys] CHECK CONSTRAINT [FK_ApiKey_SETA]
GO
ALTER TABLE [dbo].[ApiRequestLog]  WITH CHECK ADD  CONSTRAINT [FK_ApiLog_Key] FOREIGN KEY([ApiKeyID])
REFERENCES [dbo].[ApiKeys] ([ApiKeyID])
GO
ALTER TABLE [dbo].[ApiRequestLog] CHECK CONSTRAINT [FK_ApiLog_Key]
GO
ALTER TABLE [dbo].[ApiUsers]  WITH CHECK ADD  CONSTRAINT [FK_ApiUser_SETA] FOREIGN KEY([SETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[ApiUsers] CHECK CONSTRAINT [FK_ApiUser_SETA]
GO
ALTER TABLE [dbo].[AuditTrail]  WITH CHECK ADD  CONSTRAINT [FK_Audit_SETA] FOREIGN KEY([SETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[AuditTrail] CHECK CONSTRAINT [FK_Audit_SETA]
GO
ALTER TABLE [dbo].[DuplicateAttempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempt_Existing] FOREIGN KEY([ExistingSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[DuplicateAttempts] CHECK CONSTRAINT [FK_Attempt_Existing]
GO
ALTER TABLE [dbo].[DuplicateAttempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempt_Requesting] FOREIGN KEY([AttemptingSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[DuplicateAttempts] CHECK CONSTRAINT [FK_Attempt_Requesting]
GO
ALTER TABLE [dbo].[LearnerEnrollmentIndex]  WITH CHECK ADD  CONSTRAINT [FK_LearnerEnrollment_SETA] FOREIGN KEY([RegisteredSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[LearnerEnrollmentIndex] CHECK CONSTRAINT [FK_LearnerEnrollment_SETA]
GO
ALTER TABLE [dbo].[LearnerIDIndex]  WITH CHECK ADD  CONSTRAINT [FK_LearnerIDIndex_SETA] FOREIGN KEY([RegisteredSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[LearnerIDIndex] CHECK CONSTRAINT [FK_LearnerIDIndex_SETA]
GO
ALTER TABLE [dbo].[LearnerRegistry]  WITH CHECK ADD  CONSTRAINT [FK_Learner_SETA] FOREIGN KEY([RegisteredSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[LearnerRegistry] CHECK CONSTRAINT [FK_Learner_SETA]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_SETA] FOREIGN KEY([SETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshToken_SETA]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_SETA] FOREIGN KEY([SETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_SETA]
GO
ALTER TABLE [dbo].[VerificationLog]  WITH CHECK ADD  CONSTRAINT [FK_Verification_Conflict] FOREIGN KEY([ConflictingSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[VerificationLog] CHECK CONSTRAINT [FK_Verification_Conflict]
GO
ALTER TABLE [dbo].[VerificationLog]  WITH CHECK ADD  CONSTRAINT [FK_Verification_SETA] FOREIGN KEY([RequestingSETAID])
REFERENCES [dbo].[SETAs] ([SETAID])
GO
ALTER TABLE [dbo].[VerificationLog] CHECK CONSTRAINT [FK_Verification_SETA]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckCrossSETADuplicate]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_CheckCrossSETADuplicate]
    @IDNumber VARCHAR(13),
    @RequestingSETAID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.LearnerID,
        l.IDNumber,
        l.FirstName,
        l.Surname,
        l.RegisteredSETAID,
        s.SETACode,
        s.SETAName,
        l.ProgrammeName,
        l.RegistrationDate,
        l.Status
    FROM LearnerRegistry l
    INNER JOIN SETAs s ON l.RegisteredSETAID = s.SETAID
    WHERE l.IDNumber = @IDNumber
      AND l.RegisteredSETAID != @RequestingSETAID
      AND l.Status = 'Active';
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CheckEnrollmentDuplicate]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_CheckEnrollmentDuplicate]
    @IDNumber           VARCHAR(13),
    @LearnershipCode    VARCHAR(20),
    @RequestingSETA     INT,
    @EnrollmentYear     INT,
    @Province           VARCHAR(3)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDHash VARBINARY(32) = HASHBYTES('SHA2_256', @IDNumber);
    DECLARE @Decision VARCHAR(20) = 'ALLOWED';
    DECLARE @DuplicateType VARCHAR(50) = NULL;
    DECLARE @Message NVARCHAR(500) = NULL;

    -- Check 1: Same learnership, same SETA, same province, same year = BLOCKED
    IF EXISTS (
        SELECT 1 FROM LearnerEnrollmentIndex
        WHERE IDNumberHash = @IDHash
          AND LearnershipCode = @LearnershipCode
          AND RegisteredSETAID = @RequestingSETA
          AND EnrollmentYear = @EnrollmentYear
          AND ProvinceCode = @Province
          AND IsActive = 1
    )
    BEGIN
        SET @Decision = 'BLOCKED';
        SET @DuplicateType = 'SAME_SETA_SAME_PROVINCE';
        SET @Message = 'Learner already enrolled in this learnership at this SETA in this province';

        SELECT
            @Decision AS Decision,
            @DuplicateType AS DuplicateType,
            @Message AS Message,
            idx.RegisteredSETAID, s.SETACode, s.SETAName,
            idx.LearnershipCode, idx.EnrollmentYear, idx.ProvinceCode, idx.RegistrationDate
        FROM LearnerEnrollmentIndex idx
        INNER JOIN SETAs s ON idx.RegisteredSETAID = s.SETAID
        WHERE idx.IDNumberHash = @IDHash
          AND idx.LearnershipCode = @LearnershipCode
          AND idx.RegisteredSETAID = @RequestingSETA
          AND idx.EnrollmentYear = @EnrollmentYear
          AND idx.ProvinceCode = @Province;
        RETURN;
    END

    -- Check 2: Same learnership at DIFFERENT SETA in same financial year = BLOCKED
    IF EXISTS (
        SELECT 1 FROM LearnerEnrollmentIndex
        WHERE IDNumberHash = @IDHash
          AND LearnershipCode = @LearnershipCode
          AND RegisteredSETAID <> @RequestingSETA  -- Different SETA
          AND EnrollmentYear = @EnrollmentYear
          AND IsActive = 1
    )
    BEGIN
        SET @Decision = 'BLOCKED';
        SET @DuplicateType = 'DIFFERENT_SETA_SAME_YEAR';
        SET @Message = 'Learner already enrolled in this learnership at another SETA this year';

        SELECT
            @Decision AS Decision,
            @DuplicateType AS DuplicateType,
            @Message AS Message,
            idx.RegisteredSETAID, s.SETACode, s.SETAName,
            idx.LearnershipCode, idx.EnrollmentYear, idx.ProvinceCode, idx.RegistrationDate
        FROM LearnerEnrollmentIndex idx
        INNER JOIN SETAs s ON idx.RegisteredSETAID = s.SETAID
        WHERE idx.IDNumberHash = @IDHash
          AND idx.LearnershipCode = @LearnershipCode
          AND idx.RegisteredSETAID <> @RequestingSETA
          AND idx.EnrollmentYear = @EnrollmentYear
          AND idx.IsActive = 1;
        RETURN;
    END

    -- Check 3: Same learnership, same SETA, DIFFERENT province = ALLOWED (return info)
    IF EXISTS (
        SELECT 1 FROM LearnerEnrollmentIndex
        WHERE IDNumberHash = @IDHash
          AND LearnershipCode = @LearnershipCode
          AND RegisteredSETAID = @RequestingSETA
          AND EnrollmentYear = @EnrollmentYear
          AND ProvinceCode <> @Province
          AND IsActive = 1
    )
    BEGIN
        SET @Decision = 'ALLOWED';
        SET @DuplicateType = 'DIFFERENT_PROVINCE';
        SET @Message = 'Learner can enroll in different province';

        SELECT
            @Decision AS Decision,
            @DuplicateType AS DuplicateType,
            @Message AS Message,
            idx.RegisteredSETAID, s.SETACode, s.SETAName,
            idx.LearnershipCode, idx.EnrollmentYear,
            idx.ProvinceCode AS ExistingProvince,
            @Province AS NewProvince,
            idx.RegistrationDate
        FROM LearnerEnrollmentIndex idx
        INNER JOIN SETAs s ON idx.RegisteredSETAID = s.SETAID
        WHERE idx.IDNumberHash = @IDHash
          AND idx.LearnershipCode = @LearnershipCode
          AND idx.RegisteredSETAID = @RequestingSETA
          AND idx.EnrollmentYear = @EnrollmentYear
          AND idx.ProvinceCode <> @Province
          AND idx.IsActive = 1;
        RETURN;
    END

    -- No duplicates found = GREEN light for new enrollment
    SELECT
        'ALLOWED' AS Decision,
        'NEW_ENROLLMENT' AS DuplicateType,
        'No existing enrollment found - proceed with registration' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStats]    Script Date: 2025/12/11 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_GetDashboardStats]
    @SETAID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Total learners for this SETA
    SELECT
        (SELECT COUNT(*) FROM LearnerRegistry WHERE RegisteredSETAID = @SETAID) AS TotalLearners,
        (SELECT COUNT(*) FROM VerificationLog WHERE RequestingSETAID = @SETAID AND Status = 'GREEN') AS VerifiedGreen,
        (SELECT COUNT(*) FROM VerificationLog WHERE RequestingSETAID = @SETAID AND Status = 'YELLOW') AS VerifiedYellow,
        (SELECT COUNT(*) FROM VerificationLog WHERE RequestingSETAID = @SETAID AND Status = 'RED') AS VerifiedRed,
        (SELECT COUNT(*) FROM DuplicateAttempts WHERE AttemptingSETAID = @SETAID AND Blocked = 1) AS BlockedAttempts;
END

GO
USE [master]
GO
