<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- JWT Configuration -->
    <add key="JwtSecretKey" value="SETA-ID-Verification-Super-Secret-Key-2025-Must-Be-At-Least-32-Characters!" />
    <add key="JwtIssuer" value="SETA.IDVerification.API" />
    <add key="JwtAudience" value="SETA.LMS.Clients" />
    <add key="JwtExpirationMinutes" value="60" />

    <!-- Rate Limiting -->
    <add key="DefaultRateLimitPerHour" value="1000" />

    <!-- API Settings -->
    <add key="EnableSwagger" value="true" />
    <add key="ApiVersion" value="1.0" />
  </appSettings>

  <connectionStrings>
    <!-- SQL Server Express connection string -->
    <add name="SETAConnection"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=WRSETA_HACKATHON;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=10;Command Timeout=30;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!-- CORS Configuration -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, X-API-Key, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
